<template>
  <div :class="'col-span-4 ' + cSize">
    <label :for="label" class="block text-sm font-medium text-gray-700">{{
      label
    }}</label>
    <input
      v-bind="$attrs"
      type="text"
      :name="label"
      :id="label"
      :value="modelValue"
      :readonly="readonly"
      @input="$emit('update:modelValue', $event.target.value)"
      class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-gray-900 focus:border-gray-900 sm:text-sm"
    />
    <p
      v-for="e in errors"
      class="mt-2 text-sm text-red-600"
      v-bind:key="e"
      id="email-error"
    >
      {{ e }}
    </p>
  </div>
</template>
<script>
export default {
  props: {
    readonly: Boolean,
    modelValue: { type: [String, Number] },
    label: { type: String },
    errors: { type: Array },
    size: {
      default: 4,
    },
  },
  emits: ["update:modelValue"],
  computed: {
    cSize: function () {
      let sizes = {
        1: "sm:col-span-1",
        2: "sm:col-span-2",
        3: "sm:col-span-3",
        4: "sm:col-span-4",
      };
      return sizes[+this.size];
    },
  },
};
</script>