<template>
  <svg
    class=""
    v-bind="$attrs"
    fill="none"
    stroke="currentColor"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      v-for="(p, i) in icon"
      :key="i"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      :d="p"
    />
  </svg>
</template>
<script>
export default {
  props: ["icon"],
};
</script>
