<template>
  <button
    v-bind="$attrs"
    type="button"
    class="inline-flex items-center px-2 py-1 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
  >
    <slot/>
  </button>
</template>
<script>
export default {};
</script>